body{
    background-color: #ebc999;
    margin: 0;
}

.near_nav{
  background-color: #cd7700;
  margin: 0 0 3rem;
  padding: 0.5rem 0;
}
.logo_container{
  margin: 1rem 3% 0;
  width: 28%;
  display: inline-block;
}

.logo{
  width: inherit;
  height: auto;
}

.logo_text{
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.title{
  display: inline-block;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  width: auto;
  position: absolute;
  top: 0.5rem;
}
.title h1{
  font-size: 2.3rem;
}
.main_body{
  padding: 1% 3%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  padding: 0 10%;
}
#footer{
  width: 100%;
  height: auto;
  margin: 3rem 0 0;
  padding: 0.3rem 0 0.6rem;
  text-align: center;
  background-color: #4d3227;
}
#footer h2 :hover{
  color: #596164;
}
.anchor .fa-brands{
  font-size: 1.5rem;
  margin: 1rem 5% 1rem;
  color: #D0D3D4;
}
.anchor :hover{
  color:  #AE1E1E;
}
